#includes:
#    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
    reportUnmatchedIgnoredErrors: false
    checkDynamicProperties: false
    checkTooWideReturnTypesInProtectedAndPublicMethods: false
    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - '#PHPDoc tag .+ #'
    unused_public:
        methods: true
        properties: true
        constants: true
    cognitive_complexity:
            class: 50
            function: 10